################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/DotNet/ErpNet.DomainApi.Samples/ErpNet.DomainApi.Samples/obj
